body.stacker {
  perspective-origin: 50% 50%; 
}

.stacker * {
  border: 1px solid blue;
  transform: translateZ(1rem);
  box-shadow: -0.5rem 0.5rem 0.25rem 0px rgba(0,0,0,0.25);
}

.stacker > * {
  transform: rotateY(30deg) rotateX(30deg);
  transform-style: preserve-3d;
}

* {
  transition: transform 2s, border-width 2s;
}
